body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-grow: 1;
}

h1{
    color: rgb(64, 9, 116);
    font-family: 'Playfair Display', serif;
    padding-left: 100px;
}

h2{
    color: rgb(64, 9, 116);
    border-left: 5px;
    border-left-style: solid;
    padding-left: 10px;
    margin-left: 100px;
    font-family: 'Playfair Display', serif;
}

.img{
    padding: 2px;
    border: 1px solid grey;

}

.img-wrapper{
    background-color: rgb(246, 233, 222);
    padding: 20px;
    text-align: center;
    margin: auto;
}

header{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(89, 2, 9);
}

.menu{
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(248, 182, 235);
    background-color: rgb(248, 182, 235);
    text-decoration: none;
}

.menu:hover{
    background-color: rgb(228, 56, 160);
    color: bisque;
}

p{
    padding-left: 100px;
}

ul{
    padding-left: 120px;
}

footer{
        margin-bottom: 30px;
        margin-top: 20px;
        text-align: center;
        flex: 0;
        border-top: 1px solid rgb(89, 2, 9);
}

.socialmedia{
    text-align: center;
}

.socialmedia-icons{
    margin-right: 20px;
    margin-top: 10px;
}